@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Sora:wght@200&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(55, 95, 80);
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

nav.sticky{position:fixed;top:0;}

nav a {
  color:white;
  text-decoration:none;
}

a:hover {
  color:black;
  font-weight:bold;
}

h1 {
  position: absolute
  top: 50%
  transform:translateY(-50%)
  text align:center;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  mix-blend-mode: overlay;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
  
}

 h2 {
  margin-top: 4px;
  font-family: 'Sora', cursive;
  font-weight:normal;
}

 h3 {
  margin-top: 4px;
  font-family: 'Sora', cursive;
  font-weight:normal;
}

.img-ingenuity  img{
  width 100%; 
  height:300px;
  
}

.img-ingenuity figure {
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width:65%;
  display:block;
  justify-content:space-between;
}

nav {
  background-color: rgb(49,82,70);
  display:flex;
  justify-content:space-evenly;
  width: 100vw;
}

nav div {
  padding:8px;
}

.imagegallery {
  margin:0;
  padding:0;
  width:100%;
  display:flex;
  justify-content:space-between;
}

.imagegallery figure {
  display:block;
  margin:0;
  width:30%;
}

.imagegallery img {
  width:100%;
  height:200px;
  object-fit:cover;
}

.imagegallery1 {
  margin:0;
  padding:0;
  width:100%;
  display:flex;
  
}

.imagegallery1 figure {
  display:block;
  margin:0;
  width:30%;
  margin: 0 auto;
  
}

.img_msdoslogo img{ 
  width:80%;
  height:90%;
  object-fit:cover;
 
  
}

.img_windowslogo img{ 
  width:100%;
  height:90%;
  object-fit:cover;
}

.img-transistor img{
  width 100%; 
  height:250px;
  
}

.img-transistor figure {
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width:55%;
  display:block;
  justify-content:space-between;
}

.img-msdos img{
  width 100%; 
  height:300px;
  
}

.img-msdos figure {
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width:65%;
  display:block;
  justify-content:space-between;
}
.img-windows img{
  width 100%; 
  height:300px;
  
}

.img-windows figure {
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width:50%;
  display:block;
  justify-content:space-between;
}

.img-robot img{
  width 100%; 
  height:300px;
  
}

.img-robot figure {
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width:30%;
  display:block;
  justify-content:space-between;
}
header {
  background-image:url(https://cdn.glitch.me/788afb3e-e2fe-4f0a-9afa-581d7bc93f4c%2FIBM_PC.jpg?v=1633371664754);
  background-size:cover;
  background-position:center;
  font-family: 'Encode Sans', sans-serif;
  font-size:2em;
  padding-top:10vh;
  color:;
  text-align:center;
  height:40vh;
  border-bottom: 2vh solid #05442D
  

}

section {
    background-color: rgb(219, 219, 219);
    padding: 30px;
    margin: 20px auto;
    color: rgb(22, 22, 66);
    font-size: 1.1em;
    max-width:900px;
    border-radius: 2vh;
}

footer {
  background-color: rgb(49,82,70);
  height:30vh;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  border-top: 2vh solid #05442D
}

figcaption {
    font-size: 0.7em;
    font-style: italic;
    opacity: 0.4;
}

